.login-content__main__top__theme
  %h2 発送元・お届け先住所入力
.login-content__main__bottom
  = form_for(:session, url: signup_credit_path) do |f|
    .login-content__main__bottom__content-box
      = f.label :"お名前",class:"login-content__main__bottom__content-box__text"
      %span.login-content__main__bottom__content-box__require 必須
      %br/
      = f.text_field :senderfamily_name, value: session[:family_name], class:"login-content__main__bottom__content-box__input"
      = f.text_field :sender_first_name,value: session[:first_name], class:"login-content__main__bottom__content-box__input"

    .login-content__main__bottom__content-box
      = f.label :"お名前カナ",class:"login-content__main__bottom__content-box__text"
      %span.login-content__main__bottom__content-box__require 必須
      %br/
      = f.text_field :sender_family_kana,value: session[:family_kana], class:"login-content__main__bottom__content-box__input"
      = f.text_field :sender_first_kana,value: session[:first_kana], class:"login-content__main__bottom__content-box__input"

    .login-content__main__bottom__content-box
      = f.label :"郵便番号",class:"login-content__main__bottom__content-box__text"
      %span.login-content__main__bottom__content-box__require 必須
      %br/
      = f.text_field :zip_code,placeholder:"例)1234567", class:"login-content__main__bottom__content-box__input"

    .login-content__main__bottom__content-box
      = f.label :"都道府県",class:"login-content__main__bottom__content-box__text"
      %span.login-content__main__bottom__content-box__require 必須
      %br/
      = f.collection_select :prefecture_id, Prefecture.all, :id, :name

    .login-content__main__bottom__content-box
      = f.label :"市町村",class:"login-content__main__bottom__content-box__text"
      %span.login-content__main__bottom__content-box__require 必須
      %br/
      = f.text_field :city,placeholder:"例)横浜市緑区", class:"login-content__main__bottom__content-box__input"

    .login-content__main__bottom__content-box
      = f.label :"番地",class:"login-content__main__bottom__content-box__text"
      %span.login-content__main__bottom__content-box__require 必須
      %br/
      = f.text_field :address,placeholder:"例)青山1-1-1", class:"login-content__main__bottom__content-box__input"

    .login-content__main__bottom__content-box
      = f.label :"建物名",class:"login-content__main__bottom__content-box__text"
      %span.login-content__main__bottom__content-box__require 任意
      %br/
      = f.text_field :building,placeholder:"例)柳ビル103", class:"login-content__main__bottom__content-box__input"

    .login-content__main__bottom__content-box
      = f.label :"電話番号",class:"login-content__main__bottom__content-box__text"
      %span.login-content__main__bottom__content-box__require 任意
      %br/
      = f.text_field :telephone,placeholder:"例)09012345678", class:"login-content__main__bottom__content-box__input"

    .login-content__main__bottom__from
      .login-content__main__bottom__from__tag
      .login-content__main__bottom__from__sbmit  
        = f.submit "次に進む",class:"login-content__main__bottom__from__sbmit "
    