.mypage__side
  %nav.mypage__side__nav
    %ul.mypage__side__nav__list
      %li.mypage__side__nav__list__item
        = link_to user_path(current_user.id), class: "mypage__side__nav__list__item__one active" do
          マイページ
          %i#right.material-icons keyboard_arrow_right
      %li.mypage__side__nav__list__item
        = link_to root_path, class: "mypage__side__nav__list__item__one" do
          お知らせ
          %span.mypage-nav-number
            99+
          %i#right.material-icons keyboard_arrow_right
      %li.mypage__side__nav__list__item
        = link_to root_path, class: "mypage__side__nav__list__item__one" do
          やることリスト
          %i#right.material-icons keyboard_arrow_right
      %li.mypage__side__nav__list__item
        = link_to root_path, class: "mypage__side__nav__list__item__one" do
          いいね！一覧
          %i#right.material-icons keyboard_arrow_right
      %li.mypage__side__nav__list__item
        = link_to root_path, class: "mypage__side__nav__list__item__one" do
          出品する
          %i#right.material-icons keyboard_arrow_right
      %li.mypage__side__nav__list__item
        = link_to root_path, class: "mypage__side__nav__list__item__one" do
          出品した商品 - 出品中
          %i#right.material-icons keyboard_arrow_right
      %li.mypage__side__nav__list__item
        = link_to root_path, class: "mypage__side__nav__list__item__one" do
          出品した商品 - 取引中
          %i#right.material-icons keyboard_arrow_right
      %li.mypage__side__nav__list__item
        = link_to root_path, class: "mypage__side__nav__list__item__one" do
          出品した商品 - 売却済み
          %i#right.material-icons keyboard_arrow_right
      %li.mypage__side__nav__list__item
        = link_to root_path, class: "mypage__side__nav__list__item__one" do
          購入した商品 - 取引中
          %i#right.material-icons keyboard_arrow_right
      %li.mypage__side__nav__list__item
        = link_to root_path, class: "mypage__side__nav__list__item__one" do
          購入した商品 - 過去の取引
          %i#right.material-icons keyboard_arrow_right
      %li.mypage__side__nav__list__item
        = link_to root_path, class: "mypage__side__nav__list__item__one" do
          ニュース一覧
          %i#right.material-icons keyboard_arrow_right
      %li.mypage__side__nav__list__item
        = link_to root_path, class: "mypage__side__nav__list__item__one" do
          評価一覧
          %i#right.material-icons keyboard_arrow_right
      %li.mypage__side__nav__list__item
        = link_to root_path, class: "mypage__side__nav__list__item__one" do
          ガイド
          %i#right.material-icons keyboard_arrow_right
      %li.mypage__side__nav__list__item
        = link_to root_path, class: "mypage__side__nav__list__item__one" do
          お問い合わせ
          %i#right.material-icons keyboard_arrow_right
    %h3.mypage__side__nav__head メルペイ
    %ul.mypage__side__nav__list
      %li.mypage__side__nav__list__item
        = link_to root_path, class: "mypage__side__nav__list__item__one" do
          売上・振込申請
          %i#right.material-icons keyboard_arrow_right
      %li.mypage__side__nav__list__item
        = link_to root_path, class: "mypage__side__nav__list__item__one" do
          ポイント
          %i#right.material-icons keyboard_arrow_right
    %h3.mypage__side__nav__head 設定
    %ul.mypage__side__nav__list
      %li.mypage__side__nav__list__item
        = link_to root_path, class: "mypage__side__nav__list__item__one" do
          プロフィール
          %i#right.material-icons keyboard_arrow_right
      %li.mypage__side__nav__list__item
        = link_to root_path, class: "mypage__side__nav__list__item__one" do
          発送元・お届け先住所変更
          %i#right.material-icons keyboard_arrow_right
      %li.mypage__side__nav__list__item
        = link_to root_path, class: "mypage__side__nav__list__item__one" do
          支払い方法
          %i#right.material-icons keyboard_arrow_right
      %li.mypage__side__nav__list__item
        = link_to root_path, class: "mypage__side__nav__list__item__one" do
          メール/パスワード
          %i#right.material-icons keyboard_arrow_right
      %li.mypage__side__nav__list__item
        = link_to root_path, class: "mypage__side__nav__list__item__one" do
          本人情報
          %i#right.material-icons keyboard_arrow_right
      %li.mypage__side__nav__list__item
        = link_to root_path, class: "mypage__side__nav__list__item__one" do
          電話番号の確認
          %i#right.material-icons keyboard_arrow_right
      %li.mypage__side__nav__list__item
        = link_to destroy_user_session_path, class: "mypage__side__nav__list__item__one" do
          ログアウト
          %i#right.material-icons keyboard_arrow_right