.select-content
  .select-content__header
    .select-content__header__image-logo-login
      = link_to root_path do
        = image_tag 'header_icon.png',id:"image-style-header-logo"
  .select-content__main
    .select-content__main__top
      %h2.select-content__main__top 新規会員登録
    .select-content__main__body  
      .select-content__main__body__content
        .select-content__main__body__content__email
          = link_to signup_registration_path,id:"image-style-logo-email"do
            メールアドレスで登録
        .select-content__main__body__content__facebook
          = link_to user_facebook_omniauth_authorize_path ,id:"image-style-logo-facebook"do
            Facebookで登録 
        .select-content__main__body__content__google
          = link_to user_google_oauth2_omniauth_authorize_path,id:"image-style-logo-google"do
            Googleで登録 
  .select-content__footer
    %ul.login-content__footer__ul
      %li.login-content__footer__li
        = link_to 'プライバシーポリシー', "https://www.mercari.com/jp/privacy/"
      %li.login-content__footer__li
        = link_to 'メルカリ利用規約', "https://www.mercari.com/jp/tos/"
      %li.login-content__footer__li
        = link_to '特定商取引に関する表記', "https://www.mercari.com/jp/tokutei/"
    = link_to root_path, class: "login-content__footer__logo" do
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1076135930", height: "65", width: "80"
    %p.login-content__footer__p
    %small © 2019 Mercari