%header
  = render "toppage/header"
%main.mypage
  = render "mypage"
  .logout
    .logout__content
      = link_to destroy_user_session_path,method: :delete, class: "logout__content__btn" do
        ログアウト
%aside
  = render "toppage/aside"
%footer
  = render "toppage/footer"
