%header
  = render "toppage/header"
%main.mypage
  = render "mypage"
  .logout
    = link_to destroy_user_session_path,method: :delete  do
      .logout-btn
        ログアウト
%aside
  = render "toppage/aside"
%footer
  = render "toppage/footer"
