%header
  = render "toppage/header"
%main.mypage
  = render "mypage"
  .payment
    .payment__contents
      .payment__contents__title
        支払い方法
      .payment__contents__one
        .payment__contents__one__lists
          .payment__contents__one__lists__title
            .payment__contents__one__lists__title__text
              クレジットカード一覧
          .payment__contents__one__lists__list
            .payment__contents__one__lists__list__card
              .payment__contents__one__lists__list__card__information
                .payment__contents__one__lists__list__card__information__type
                  = image_tag "visa_image.png", class: "payment__contents__one__lists__list__card__information__type__image"
                .payment__contents__one__lists__list__card__information__number
                  %br
                    = "**** **** **** " + @default_card_information.last4
                    %br
                    - exp_month = @default_card_information.exp_month.to_s
                    - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                    = exp_month + " / " + exp_year
                = form_tag(delete_users_path, method: :post, id: 'charge-form',  name: "inputForm") do
                  %input{ type: "hidden", name: "card_id", value: "" }
                  %button.card_delete 削除する
        .payment__contents__one__way
          = link_to root_path, class: "payment__contents__one__way__link" do
            %span.payment_plan 支払い方法について
            %i.material-icons.right keyboard_arrow_right
%aside
  = render "toppage/aside"
%footer
  = render "toppage/footer"