%main.osingle-main
  -if flash[:notice]
    %p= flash[:notice]
  %header.mheader
    %h1.h1
      = link_to root_path do
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3270184656"
  .obuy-head
    購入を確定しますか？
  .obuy-item
    .obuy-item__image
      =image_tag (@item.item_images.first.image.to_s), height:"220" ,width:"200" ,class:"item-image", alt: "", id: "main-box"
    .obuy-item__name.obold
      = @item.name
    .obuy-item__box
      .obuy-item__price.obold
        ="¥ #{@item.price.to_s(:delimited)}"
        %span.obuy-item__shipping-fee
          送料込み
      .obuy-item__toggle
        ポイントはありません
      .obuy-item__cell
        支払い金額
        %span.obuy-item__price-cell
        ="¥ #{@item.price.to_s(:delimited)}"
      = form_tag(action: :pay, method: :post) do
        %button.obuy-item__btn 購入する
  .obuy-user-info
    .obuy-user-info__delivery 配送先
    .obuy-user_info__zipcode
      ="〒 #{@address.zip_code}"
    .obuy-user-info__adress
      ="#{@address.address}"
      %br
      ="#{@address.sender_family_name} #{@address.sender_first_name}"
    %a.obuy-user-info__change-btn
      %span.change-link 変更する
      %i.fa.fa-angle-right

  .obuy-user-info
    .obuy-user-info__delivery 支払い方法
    .obuy-user_info__zipcode
    - if @default_card_information.blank?
      %br /
    - else
      -#以下カード情報を表示

      = "**** **** **** " + @default_card_information.last4
      %br
      = "#{@default_card_information.exp_month.to_s} / #{@default_card_information.exp_year.to_s.slice(2,3)}"
      .payment__contents__one__lists__list__card__information__type
        = image_tag "visa_image.png", class: "payment__contents__one__lists__list__card__information__type__image"
    %br
 
    %a.obuy-user-info__change-btn
      %span.change-link 変更する
      %i.fa.fa-angle-right
  .dfooter
    %ul.ul
      %li.li
        = link_to 'プライバシーポリシー', "https://www.mercari.com/jp/privacy/"
      %li.li
        = link_to 'メルカリ利用規約', "https://www.mercari.com/jp/tos/"
      %li.li
        = link_to '特定商取引に関する表記', "https://www.mercari.com/jp/tokutei/"
    = link_to root_path, class: "footer__logo" do
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1076135930", height: "65", width: "80"
    %p.p
      %small © 2019 Mercari

