.header-inner
  .header-search
    .header-search__logo
      = link_to root_path do
        = image_tag 'header_icon.png', class:"image-logo"
    %form.header-search__box
      %input.input-default{name:"keyword", placeholder:"何かお探しですか？", type:"search", value:""}/
      %i.material-icons.search-icon search
  .header-under
    .header-under__left
      .header-under__left-element
        .material-icons.header
          list
          .header-under__left-word 
            カテゴリーから探す
            %ul.category
              -FirstCategory.all.each do |f|
                %li
                  = f.first_category
                  %ul.category_s
                    -f.second_categories.each do |s|
                      %li
                        = s.second_category
                        %ul.category_t
                          -s.third_categories.each do |t|
                            %li
                              =t.third_category
      .header-under__left-element
        .material-icons.header
          .header-under__left-word 
            %i.fa.fa-tag
            %span ブランドから探す
          
    .header-under__right
      - if user_signed_in?
        .header-under__right-new
          .header-link 
            =link_to user_path(current_user.id) do
              %i.far.fa-heart
              %span いいね ! 一覧
          .header-link 
            =link_to user_path(current_user.id) do
              %i.far.fa-bell
              %span お知らせ
          .header-link 
            =link_to user_path(current_user.id) do
              %i.fa.fa-check
              %span やることリスト
          .header-link 
            =link_to user_path(current_user.id) do
              %i.far.fa-user
              %span マイページ

      - else
        .header-under__right-new
          = link_to "新規会員登録",users_path
        .header-under__right-login
          = link_to "ログイン", new_user_session_path


