%body
  %header
    = render partial: "header"
  .moving-display
    = render partial: "slide-display"
  .itemlist-1
    %h2.pickup-head
      ピックアップカテゴリー
    = render partial: "item-display"
    = render partial: "item-display"
  %aside
    = render partial: "aside"
  %footer
    = render partial: "footer"
  .sell-btn
    = render partial: "sell-btn"
