<header>
  <%= render partial: "header" %>
</header>
<div class="moving-display">
  <%= render partial: "slide-display" %>
</div>
<div class="itemlist-1">
  <h2 class="pickup-head">
    ピックアップカテゴリー
  </h2>
  <%= render partial: "item-display" %>
  <%= render partial: "item-display" %>
</div>
<aside>
  <%= render partial: "aside" %>
</aside>