.login-dec-content__main__top
  .login-dec-content__main__top__theme-login-dec-top
    アカウントをお持ちでない方はこちら
    = link_to "新規会員登録",  users_path,class:"login-content__main__top__registration"

.login-dec-content__main__body__content
  .login-dec-content__main__body__content__facebook
    = link_to user_facebook_omniauth_authorize_path ,id:"image-style-logo-facebook"do
      Facebookでログイン
  .login-dec-content__main__body__content__google
    = link_to user_google_oauth2_omniauth_authorize_path,id:"image-style-logo-google"do
      Googleでログイン



.login-dec-content__main__bottom
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    
    .login-dec-content__main__bottom__content-box
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"メールアドレス", class:"login-dec-content__main__bottom__content-box__input"
      = render 'layouts/notifications'
    .login-dec-content__main__bottom__content-box 
      %br/
      = f.password_field :password, autocomplete: "new-password",placeholder:"パスワード", class:"login-dec-content__main__bottom__content-box__input"
      = render 'layouts/notifications'
     
    .login-dec-content__main__bottom__from
      .login-dec-content__main__bottom__from__tag
        =image_tag 'login/recapcha.png',id:"image-style-recapcha"
        -# = recaptcha_tags
      .login-dec-content__main__bottom__from__sbmit  
        = f.submit "ログイン",class:"login-dec-content__main__bottom__from__sbmit "
    .login-dec-content__main__bottom__foget-password
      = render "devise/shared/links"