%body
  %header
    = render partial: "toppage/header"
  .moving-display
    = render partial: "toppage/slide-display"
  .itemlist-1
    %h2.pickup-head
      ピックアップカテゴリー
    = render partial: "toppage/item-display"
    = render partial: "toppage/item-display"
  %aside
    = render partial: "toppage/aside"
  %footer
    = render partial: "toppage/footer"
  .sell-btn
    = render partial: "toppage/sell-btn"
