%main.osingle-main
  -if flash[:notice]
    %p= flash[:notice]
  %header.mheader
    %h1.h1
      = link_to root_path do
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3270184656"
  .obuy-head
    購入を確定しますか？
  .obuy-item
    .obuy-item__image
      = image_tag "sample_dog.jpg", height:"220" ,width:"200" ,class:"item-image"
    .obuy-item__name.obold
      貴重！【相澤仁美】雑誌付録DVD 4枚
    %form.obuy-item__box
      .obuy-item__price.obold
        ¥ 1,370
        %span.obuy-item__shipping-fee
          送料込み
      .obuy-item__toggle
        ポイントはありません
      .obuy-item__cell
        支払い金額
        %span.obuy-item__price-cell
          ¥ 1,370
      .obuy-item__btn
        = form_tag(action: :pay, method: :post) do
          %script.payjp-button{:src => "https://checkout.pay.jp", :type => "text/javascript" ,"data-text" => "購入する" ,"data-key" => "pk_test_1033ea7b46f5ffff1846e34b"}
  .obuy-user-info
    .obuy-user-info__delivery 配送先
    .obuy-user_info__zipcode
      〒123-4567
    .obuy-user-info__adress
      大阪府ほげほげ市1-2-3
      %br
      YUI ARAGAKI
    %a.obuy-user-info__change-btn
      %span.change-link 変更する
      %i.fa.fa-angle-right

  .obuy-user-info
    .obuy-user-info__delivery 支払い方法
    .obuy-user_info__zipcode
      4242 4242 4242 4242
    .obuy-user-info__adress
      12/20 
      %br
      VISA 123
    %a.obuy-user-info__change-btn
      %span.change-link 変更する
      %i.fa.fa-angle-right
  .dfooter
    %ul.ul
      %li.li
        = link_to 'プライバシーポリシー', "https://www.mercari.com/jp/privacy/"
      %li.li
        = link_to 'メルカリ利用規約', "https://www.mercari.com/jp/tos/"
      %li.li
        = link_to '特定商取引に関する表記', "https://www.mercari.com/jp/tokutei/"
    = link_to root_path, class: "footer__logo" do
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1076135930", height: "65", width: "80"
    %p.p
      %small © 2019 Mercari

