-# パンくずの表示にて必要
-breadcrumb :item, @item

%header
  = render partial: "toppage/header"
.default-container
  %section.section.item-container
    %h1.h1 
      = @item.name
    .item-container__main-content
      .item-container__image
        - if @item.status == 1
          .item-sold-out-badge
          .sold-text
            SOLD
        =image_tag (@item.item_images.first&.image.to_s), height:"220" ,width:"200" ,class:"item-image", alt: "", id: "main-box"
        
        %ul.ul.image-slide
          %li.li
            -  @item.item_images.each do |image|
              = image_tag (image.image.to_s),id:"y-box",class: "slide-box"
    %table.item-container__detail
      %tbody
        %tr.tr
          %th.th 出品者
          %td.td
            = link_to root_path do
              %div.div
            .y-list-boxs-icon  
              .y-item-user-ratings
                %i.icon-good=image_tag "show/icon_good.png",width:18,heigh:18
                %span.y-span=@good
              .y-item-user-ratings
                %i.icon-normal=image_tag "show/icon_soso.png",width:20,heigh:20
                %span.y-span=@usually
              .y-item-user-ratings
                %i.icon-bad=image_tag "show/icon_bad.png",width:20,heigh:20
                %span.y-span=@bad
        %tr.tr
          %th.th カテゴリー
          %td.td
            .first_category=@item.first_category.first_category
            .second_category=@item.second_category.second_category
            .third_category=@item.third_category.third_category     
        %tr.tr
          %th.th ブランド
          %td.td=brand
          
              
        %tr.tr
          %th.th 商品のサイズ
          %td.td=size
        %tr.tr
          %th.th 商品の状態
          %td.td=@item.condition.name
        %tr.tr
          %th.th 配送料の負担
          %td.td=@item.delivery_way.name
        %tr.tr
          %th.th 配送の方法
          %td.td らくらくメルカリ便
        %tr.tr
          %th.th 配送元地域
          %td.td=@item.prefecture.name
        %tr.tr
          %th.th 発送日の目安
          %td.td=@item.delivery_days.name
    .item-container__price
      %span.span.item-price="¥#{@item.price.to_s(:delimited)}"
      %span.span.item-taxIn (税込)
      %span.span.item-tax-include 送料込み
    - if user_signed_in?

      - if user_signed_in? && current_user.id == @item.user_id
        .space
      - elsif @item.status == 0
        %div{"data-turbolinks" => "false"} 
          = link_to "/purchase/index/items/#{@item.id}",  class:"ditem-buy-btn" do
            購入画面に進む
      - elsif @item.status == 1
        .ditem-edit-btn-gray
          売り切れました
    - else
      = link_to new_user_session_path, class: "ditem-edit-btn-gray" do
        ログインしてください
    .item-description
      %p.p.item-description-inner
        =@item.description  
    .item-button-container.clearfix
      .item-button-left
        %button.item-button.item-button-like
          .fa.fa-heart
          %span.span いいね!
          %span.span.fade-in-down=like_judgment
        %a.a.item-button.item-button-report.clearfix
          .fa.fa-flag
          %span.span=flag_list
        %input.input{name: "like_add_url", type: "hidden", value: "https://www.mercari.com/jp/like/add/m13632202360/"}/
        %input.input{name: "like_del_url", type: "hidden", value: "https://www.mercari.com/jp/like/delete/m13632202360/"}/
        %input.input{name: "__csrf_value", type: "hidden", value: "5529b73b5b5685f22efb8585db8a2ef4b3efba42bfd51bbf8d27247f7b9bc06d2f231667afc1a0ee9f67ad2df38d5c73d97776bb5f77cdaa95d6694ac5ae54ed7"}/
      .item-button-right
        = link_to "https://www.mercari.com/jp/safe/description/" do
          .fa.fa-lock
          %span.spam あんしん・あんぜんへの取り組み
  - if user_signed_in? && current_user.id == @item.user_id
    %section.section.item-container
      .item-description
        = link_to "商品の編集","/items/edit", class:"ditem-edit-btn"
        %p.p.or or
        = link_to "商品を一旦停止する","", class:"ditem-edit-btn-gray"
        = link_to "この商品を削除する", item_path, method: :delete, data: { confirm: '確認削除すると二度と復活できません。削除する代わりに停止することもできます。本当に削除しますか？' }, class: "ditem-edit-btn-gray"

  .Dcomment
    .Dcomment__box
      %p.p.mes 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea.textarea-default{name: "body", type: "text", value: ""}
      %button.send コメントする
  %ul.ul.nav-item-link.clearfix
    %li.li.nav-item-link--prev
     
    %li.li.nav-item-link--next
     
  .item-social-media-box
    .text-center
    %ul.ul.social-media
      %li.li
        .fa-facebook-square-y.k
          = link_to "http://www.facebook.com/share.php?u=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm13632202360%2F",class:"y-share-btn" do
            = image_tag ("show/facebooks_icon.png"),width:50,heigh:50
      %li.li
        .fa-twitter-square-y.k
          = link_to "http://twitter.com/share?count=horizontal&original_referer=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm13632202360%2F&text=Supreme%20Stars%20Zip%20S%E2%80%A6%20%28%C2%A5%2077%2C480%29%20https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm13632202360%2F%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%E3%80%8C%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E3%80%8D%E3%81%A7%E8%B2%A9%E5%A3%B2%E4%B8%AD%E2%99%AA%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%40mercari_jp%E3%81%95%E3%82%93%E3%81%8B%E3%82%89", :target => "_blank",class:"share-btn" do
            = image_tag ("show/tweet_icon.png"),width:50,heigh:50
      %li.li
        .fa-pinterest-square-y.k
          =link_to "http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm13632202360%2F&media=https%3A%2F%2Fstatic.mercdn.net%2Fitem%2Fdetail%2Forig%2Fphotos%2Fm13632202360_1.jpg%3F1544329645&description=%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E5%95%86%E5%93%81%3A%20Supreme%20Stars%20Zip%20Stadium%20Jacket%20%E3%83%8D%E3%82%A4%E3%83%93%E3%83%BC%20M%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA", :target => "_blank",class:"share-btn" do
            = image_tag ("show/rakuten_icon.png"),width:50,heigh:50
  .items-in-user-profile
    %section.items-box-container.clearfix.items-box-overflow.items-in-user-profile
      .items-box-head
      -  if @exhibiton_items.present?
        =link_to "#{@item.user.nickname}さんのその他の出品", user_path(@item.user_id), class:"items-box-head"
        .items-box-content.clearfix
          .item-list__cards
            -@exhibiton_items.each do |i|
              .item-list__card
                .item-list__card-image
                  =image_tag (i.item_images.first&.image.to_s),height:"220" ,width:"200" ,class:"item-image"
                .item-list__card-info
                  .item-list__card-info-name=i.name
                  .item-list__card-info-num
                    .num__price_d="¥#{i.price.to_s(:delimited)}円"
                    - if i.likes.ids.present?
                      .far.fa-heart
                        .num-like=Like.where(item_id: i.id).count
                      %p.p.item-list__card-info-tax
%footer
  = render partial: "toppage/footer"
