%header
  = render "toppage/header"
%main.mypage
  = render "users/mypage"
  .exhibition
    .exhibition__list
      %h2.exhibition__list__heading
        出品した商品
      %ul.exhibition__list__tab
        %li.active
          %h3.linered
            = link_to root_path do
              出品中
        %li.noactive
          %h3
            = link_to root_path do
              取引中
        %li.noactive
          %h3
            = link_to root_path do
              売却済み
      .exhibition__list__one
        %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
          = render partial: "item-show", collection: @items, as: :item
%aside
  = render "toppage/aside"
%footer
  = render "toppage/footer"
-# 出品した商品がない場合
-#         %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
-#           = image_tag "images.png", class: "image"
-#           %li.mypage-item-not-found.bold 出品中の商品がありません
