%header
  = render partial: "toppage/header"
.category-main
  .category-main__head
    .category-main__head__theme
      %h2.category-main__head__theme
      カテゴリー一覧
    .category-main__head__lists
      = render partial: 'first_category_list',collection: @lists,as:"list"
  .category-main__block
    .category-main__block__theme
      %h2.category-main__block__theme
      レディース
    .category-main__block__lists
      = render partial: 'second_category_list',collection: @lists,as:"list"

%aside
  = render partial: "toppage/aside"
%footer
  = render partial: "toppage/footer"
.sell-btn
  = render partial: "toppage/sell-btn"


   